@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fonts directly from the public folder */
@font-face {
  font-family: 'Neue-Graphica';
  src: url('/fonts/Neue-Gravica-Font-Family/neue-gravica-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satochi';
  src: url('/fonts/Satochi-Font/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Clients horizontal scrolling */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
  width: 100%;
}

.overflow-hidden {
  position: sticky;
  width: 100%;
  padding: 10px 0;
}



/* @keyframes aurora {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.aurora {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: linear-gradient(120deg, #0b0011, #2e001f, #54002b, #2e001f, #0b0011);
  background-size: 400% 400%;
  animation: aurora 10s ease-in-out infinite;
  filter: blur(90px);
  opacity: 0.8;
} */