@font-face {
  font-family: 'Gabarito';
  src: url('../../public/fonts/Gabarito/static/Gabarito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Ensures text is visible while the font loads */
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Animation classes */
@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll-horizontal 30s linear infinite;
  will-change: transform;
  width: max-content;
}

/* Utility classes */
.overflow-hidden {
  width: 100%;
  overflow: hidden;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo-rotation {
  animation: rotate 5s linear infinite; 
}




