@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fonts directly from the public folder */
@font-face {
  font-family: 'Neue-Graphica';
  src: url('/fonts/Neue-Gravica-Font-Family/neue-gravica-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satochi';
  src: url('/fonts/Satochi-Font/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
}

.animate-scroll {
  display: flex;
  animation: scroll 10s linear infinite;
}


/* @keyframes aurora {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.aurora {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: linear-gradient(120deg, #0b0011, #2e001f, #54002b, #2e001f, #0b0011);
  background-size: 400% 400%;
  animation: aurora 10s ease-in-out infinite;
  filter: blur(90px);
  opacity: 0.8;
} */